:root {
  --primary: rgb(1, 10, 19);
  --secondary: rgb(1, 14, 21);
  --tertiary: rgb(1, 12, 22);
  --quarternary: rgb(5, 25, 39);
  --quinary: rgb(7, 31, 45);
  --senary: rgb(7,40,55);
  --septenary: rgb(8, 49, 63);
  
  --gold_border_edge: rgb(186, 141, 66);
  --gold_border_interior_edge: rgb(115, 105, 65);
  --gold_boder_interior: rgb(80, 69, 32);

  --contrast_bright_blue_lighter: rgb(62, 213, 255);
  --contrast_bright_blue_medium: rgb(52, 182, 254);
  --contrast_bright_blue_darker: rgb(37, 164, 254);

  --darker_base: rgb(23, 29, 28);
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--contrast_bright_blue_darker);
  overflow: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-container{
  width: 100vw;
  height: 100vh;
  background-color: var(--senary);
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--senary);
    overflow: hidden;
}

.card-body{
  background: var(--tertiary);
}

.loc-caption:before {
  content: attr(title);
  display: block;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

li img {
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}