:root {
  --primary: rgb(1, 10, 19);
  --secondary: rgb(1, 14, 21);
  --tertiary: rgb(1, 12, 22);
  --quarternary: rgb(5, 25, 39);
  --quinary: rgb(7, 31, 45);
  --senary: rgb(7,40,55);
  --septenary: rgb(8, 49, 63);
  
  --gold_border_edge: rgb(186, 141, 66);
  --gold_border_interior_edge: rgb(115, 105, 65);
  --gold_boder_interior: rgb(80, 69, 32);

  --contrast_bright_blue_lighter: rgb(62, 213, 255);
  --contrast_bright_blue_medium: rgb(52, 182, 254);
  --contrast_bright_blue_darker: rgb(37, 164, 254);

  --darker_base: rgb(23, 29, 28);
}

.toggleswitchbar {
    background-image: linear-gradient(to left, var(--darker_base), var(--darker_base),var(--darker_base),var(--darker_base),var(--primary), var(--secondary));
    height:35px;
    display: flex;
    justify-content: space-evenly;
    align-items:left;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  
  .toggleswitchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    border-radius:25px;
    margin: 2px;
    background: whitesmoke;
    height: 33px;
  }


  .togglebar-item {
    margin: 0px;
    height: 30px;
    width: 75px;
    font-size: 1.1rem;
    border: none;
    background: none;
    color: var(--darker_base);
    border-radius: 40px;
  }
  
  .togglebar-item:hover{
    color: var(--gold_border_interior_edge);
  }

  .togglebar-item:focus {
    background: var(--contrast_bright_blue_lighter);
    color: var(--darker_base);
  }